# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl
.terraform
workspace

# .tfstate files
*.tfstate
*.tfstate.*

# Plan files
*.out

# Crash log files
crash.log

# IDE files
.vs-code

# ssh keys
id_rsa*

# Ansible hosts file
hosts.ini

# Misc
.env.local
.DS_Store